 .container {
    min-height: 100vh;
    width: 900vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 100px;
    background: rgba(130, 214, 250, 0.584);
}

.image {
  border-radius: 50%;
  border: 2px solid black;
  width: 150px; 
  height: 150px;
  object-fit: cover; 
}

.section {
    display: flex;
 flex-direction: column;
    gap: 1.5rem;
    width: 1000000px;
    max-width: 400px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    /* height: 50px; */
    padding: 0.5rem 1rem;
    border: 1px solid rgb(2, 2, 67);
    border-radius: 8px;
    background-color: rgb(218, 239, 243);
}
.p {
    padding-top: 5px;
    font-size: 16px;
    color: #02023e;
}


.pa {
    padding-top: 0px;
}