  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 100px;
    width: 100vw;
    height: 97vh;
    background: rgba(130, 214, 250, 0.584);
} 

.image {
  border-radius: 50%;
  border: 2px solid black;
  width: 100px; 
  height: 100px;
  object-fit: cover; 
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


 .infoWrapper {
  background-color: rgb(218, 239, 243);
  padding: 16px;
  border-left: 6px solid #0077b6;
  border-radius: 8px;
  font-weight: bold;
}


.infoWrapper:hover {
  background-color: #d2efff; 
}

