.container {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .nav {
    width: 50vw;
    position: fixed;
    display: flex;
    align-self: center;
    top: 32px;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    gap: 1rem;
  }
  
  .link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 40px;
    color: rgb(6, 12, 65);
  }
  
  .activeLink {
    border: 1px solid transparent;
    background-color: white;
  }
  
  .inActiveLink {
    border: 1px solid black;
    color: rgb(53, 20, 203);
  }
  
.name {
  font-size: 35px;
  color: rgb(4, 4, 76);
}

.footer {
  width: 200vw;
  height: 20px;
}

