.removeButton {
  margin: 10px 0;
  width: 200px;
  background-color: rgb(230, 52, 52);
  color: white;
  border: 1px solid #181616;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  display: block;
}
